// Font Family
$font-family-default:  			'Khula', 'Open Sans', sans-serif;
$font-family-header:  			"Comfortaa","HelveticaNeue-Bold", "novecento_sans_widedemibold", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-logo:              "Pacifico", "monospace";
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";

$blog-tag-font-size:            0.75em;
