// Sizes
$header-height: 8rem;
$footer-height: 6rem;
$border-radius: 0;

// Font Weights
$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-light:300;

// Global Paddings
$padding-horiz: 17rem;
$padding-vert: 3rem;
