<ul class="social-icons">
    {% for social in site.social %}
        <li>
            <a href="{{ social.url }}" title="{{ social.description }}">
                {% if social.icon %}<i class="fa fa-{{ social.icon }}"></i>{% endif %}
            </a>
        </li>
    {% endfor %}
    <a class="link-button" href="/demo">Live Demo</a>
</ul>
