<ul class="social-icons">
    <a class="link-button" href="http://demo.opennms.org" target="_BLANK">Live Demo</a>
    {% for social in site.social %}
        <li>
            <a href="{{ social.url }}" title="{{ social.description }}">
                {% if social.icon %}<i class="fa fa-{{ social.icon }}"></i>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
